$my-font: courier;

.accordion-wrap {
	
	.accordion-head {

		font-family: $my-font;
		padding: 10px;
		background-color: #d3d3d3;
		
	}

	.accordion-content {
		
			font-family: $my-font;
			padding: 10px;
			display: none;
	}

	.display {
		display: block
	}

	.active {
		background-color: #999;
		color: #fff;
	}
}
